<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4eIs0jEe8ugW3iei2eEFOFNM5lpFhw3c</string>
	<key>GCM_SENDER_ID</key>
	<string>547036932865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>klasssalina.com.NavigationTrain</string>
	<key>PROJECT_ID</key>
	<string>navigationtrain</string>
	<key>STORAGE_BUCKET</key>
	<string>navigationtrain.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547036932865:ios:a21340a9e46f0333fc8900</string>
</dict>
</plist>